@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">Adaletli Görev Atama İşlemi</p>
    <p><a href="/Task/GetAll" class="btn btn-primary btn-lg">Görevler</a></p>
</div>

<div class="row">
    
</div>